html,
body {
    min-height: 100vh;
}

body {
    color: gainsboro;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 1;
    position: relative;
}

@media (min-width: 647px and min-height: 394px) {
    html {
        background-size: auto;
    }
}

html {
    background-color: saddlebrown;
    background-image: url('../imgs/spinnyTennis.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

html.lightResults:before {
    bottom: 100%;
}

html:before {
    background-color: black;
    opacity: .55;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
}

#resultsDiv:after {
    background-color: white;
    opacity: .1;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
}

.results_data {
    background: rgba(255, 255, 255, 0.0);
    color: white;
    transition: 2s;
}

.results_data:hover {
    transition: 1s;
    background: rgba(255, 255, 255, 0.3);
    color: midnightblue;
}


}
#question {
    height: 200px;
    text-align: left;
}
#introDiv {
    height: 30%;
    color: gainsboro;
    /*background-color: #f2f2f2;
    border: 1px red solid;*/
}
.bot_of_quizDiv {
    display: none;
}
#quizDiv {
    min-height: 50%;
    max-height: 60%;
    padding-top: 0px;
    text-align: center;
}
#quizDiv ul {
    margin: 0 auto;
    text-align: justify;
}
#quizDiv li {
    list-style-type: none;
}
#quizDiv p.first {
    text-align: left;
}
#quizDiv p {
    text-align: right;
}
button[class="submit"] {
    position: relative;
    padding: 10px;
    margin: 20px;
    top: 35%;
    max-height: 10%;
}
.underSubmit {
    top: 40%;
}
#ok {
    display: none;
}
#resultsDiv {
    height: 100%;
    padding-top: 10%;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black;
    text-shadow: 1px 1px navy;
    /*make this positioned center vertically, so margin 35% top and bottom*/
}
#infoDiv {
    height: 30%;
    text-align: justify;
}
#infoDiv2 {
    padding-top: 10px;
}
#moreInfo {
    display: none;
}
.front {
    z-index: 1;
}
.qText {
    font-size: 18px;
    line-height: 1.5em;
}
#introDiv,
#quizDiv,
#resultsDiv {
    padding: 10px;
}
#quizDiv,
#resultsDiv {
    display: none;
}
.prettyAns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
